body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.post-author {
  font-size: 12px;
  padding: 5px;
  color: rgb(119, 119, 119);
}

.post-link {
  text-decoration: none !important;
  padding-right: 10px;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 75%;
  cursor: pointer;
}

.post-sort-box {
  padding: 5px;
  margin: 5px;
}

.create-post-container h3{
  text-align: center;
}

.post-container {
  display: flex;
  border: solid;
  margin: 5px;
}

.post {
  flex: 1 1 95%;
}

.post-details {
  display: flex;
}

.post-title {
  flex: 1 1 85%;
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-timestamp {
  font-size: 14px;
  flex: 1 1 10%;
  padding-top: 5px;
}

.vote {
  text-align: center;
  flex: 0 1 5%;
}

.vote-up {
  height: 30px;
  display: block;
  margin: 0 auto;
  width: 40px;
  margin-bottom: 2px;
}

.vote-count {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.text-box {
  display: flex;
  padding: 10px;
}

.text-input {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  outline: none;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-grid {
  flex: 1;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: calc(10%);
  left: 200px;
  right: 200px;
  bottom: calc(30%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.post-container h3 {
  text-align: center;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111;
}